{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <ul>
        {% for renting in rentings %}
            <div class="renting">
            <h2> {{ renting.addresse }}</h2>
            <p> Id : {{ renting.id }}</p>
            <p> Prix : {{ renting.price }}€</p>
            <p> Adresse : {{ renting.address }}</p>
            <p> Description : {{ renting.description }}</p>
            <p> Nom : {{ renting.name }}</p>
            {% for type in types %}
                {% if type.id == renting.id_type %}
                    <p> Type : {{ type.name }}</p>
                {% endif %}
            {% endfor %}
            {% for equipment in equipments %}
                {% if equipment.id == renting.id_equipment %}
                    <p> Equipment : {{ equipment.name }}</p>
                {% endif %}
            {% endfor %}
            {% for service in services %}
                {% if service.id == renting.id_service %}
                    <p> Service : {{ service.name }}</p>
                {% endif %}
            {% endfor %}
            <form action="/delete_renting" method="post">
                <input type="hidden" name="renting_id_delete" value="{{ renting.id }}">
                <input type="submit" value="Supprimer">
            </form>
            <form action="/modify_location" method="post">
                <input type="hidden" name="renting_id_modify" value="{{ renting.id }}">
                <input type="submit" value="Modifier">
            </form>
            </div>
        {% endfor %}
        </ul>
    </body>
{% endblock %}