{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <ul>
        <form method="post" class="form_create_logement" action="/modify_location_finish"  enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ renting.id }}">
            <p>Prix : </p>
            <input name="price" value="{{ renting.price }}">
            <p>Ville : </p>
            <input name="address" value="{{ renting.address }}">
            <p>Description : </p>
            <input name="description" value="{{ renting.description }}">
            <p>Nom : </p>
            <input name="name" value="{{ renting.name }}">
            <div class="types">
                <select name="type">
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if type.id == renting.id_type %}selected{% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <p>Equipments :</p>
            <div class="equipments">
                {% for equipment in equipments %}
                    <input type="checkbox" class="checkbox_create_logement" name="equipment[]" value="{{ equipment.id }}"
                        {% if equipment.id in renting.equipment_ids %}checked{% endif %}>
                    {{ equipment.name }}
                    </input>
                {% endfor %}
            </div>
            <p>Services :</p>
            <div class="services">
                {% for service in services %}
                    <input type="checkbox" class="checkbox_create_logement" name="service[]" value="{{ service.id }}"
                        {% if service.id in renting.service_ids %}checked{% endif %}>
                    {{ service.name }}
                    </input>
                {% endfor %}
            </div>
            <p>Photo : </p>
            <img src="data:image/jpeg;base64,{{ renting.encoded_picture }}" alt="image"> <br /><br />
            <input type="hidden" name="original_image" value="{{ (renting.encoded_picture) }}" />
            <label for="image">Choisissez une nouvelle image :</label>
            <input type="file" name="image" id="image">
            <p> La taille de l'image ne doit pas dépasser 55 Ko sinon elle ne sera pas ajouter. </p>
            <input type="submit" class="submit_button" value="Envoyer" />
        </form>
        </ul>
    </body>
{% endblock %}