{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <ul>    
            {% for user in users %}
                    <div class="users">
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Nom : {{ user.lastname }} </p>
                            <input type="text" name="user_name" placeholder="Nouveau nom de l'utilisateur" />
                            <input type="submit" class="submit_button" name="modify_user_name" value="Modifier" />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Prénom : {{ user.firstname }} </p>
                            <input type="text" name="user_firstname" placeholder="Nouveau prénom de l'utilisateur" />
                            <input type="submit" class="submit_button" name="modify_user_firstname" value="Modifier" />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Téléphone : {{ user.phone }} </p>
                            <input type="text" name="user_phone" placeholder="Nouveau téléphone de l'utilisateur" />
                            <input type="submit" class="submit_button" name="modify_user_phone" value="Modifier" />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Email : {{ user.email }} </p>
                            <input type="email" name="user_email" placeholder="Nouvel email de l'utilisateur" />
                            <input type="submit" class="submit_button" name="modify_user_email" value="Modifier" />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Mot de passe : </p>
                            <input type="password" name="user_password" placeholder="Nouveau mot de passe de l'utilisateur" />
                            <input type="submit" class="submit_button" name="modify_user_password" value="Modifier" />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <p> Mettre Admin : </p>
                            <select name="user_isAdmin">
                                {% if user.isAdmin == 0 %}
                                    <option value="0">non</option>
                                    <option value="1">oui</option>
                                {% else %}
                                    <option value="1">oui</option>
                                    <option value="0">non</option>
                                {% endif %}
                            </select>
                            <input type="submit" class="submit_button" name="modify_user_admin" value="Modifier" /> <br />
                        </form>
                        <form action="/modify_user" method="post">
                            <input type="hidden" name="user_id_modify" value="{{ user.id }}" />
                            <input type="submit" class="delete" name="delete_user" value="Supprimer" />
                        </form>
                    </div>
                {% endfor %}
            </form>
        </ul>
    </body>
{% endblock %}