{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <form action="/create_logement" class="form_create_logement" method="post" enctype="multipart/form-data">
            <input type="text" class="text_create_logement" name="address" placeholder="Ville" required>
            <input type="text" class="text_create_logement" name="name" placeholder="Nom" required>
            <input type="text" class="text_create_logement" name="price" placeholder="Prix" required>
            <input type="text" class="text_create_logement" name="description" placeholder="Description" required>
            <div class="types">
                <select name="type" required>
                        <option selected disabled value="">--Choisissez le type du logement--</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="services">
            {% for service in services %}
                <input type="checkbox" class="checkbox_create_logement" name="service[]" value="{{ service.id }}">{{ service.name }}
            {% endfor %}
            </div>
            <div class="equipments">
                {% for equipment in equipments %}
                    <input type="checkbox" class="checkbox_create_logement" name="equipment[]" value="{{ equipment.id }}">{{ equipment.name }}
                {% endfor %}
            </div>
            <label for="image">Choisissez une image:</label>
            <input type="file" multiple max-file-size="24" name="image" id="image" required>
            <p>{{error}}</p>
            <input type="submit" class="submit_create_logement" value="Envoyer" />
            </form>
    </body>
{% endblock %}