{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% set user_connected = "Profile" %}
{% set link = "profile" %}

{% block body %}
    <body>
        <ul>
        {% for renting in rentings %}
            <div class="rentings">
            <h2> {{ renting.address }}</h2>
            <p> Id : {{ renting.id }}</p>
            <p> Prix : {{ renting.price }}€ par nuit</p>
            <img src="data:image/jpeg;base64,{{ renting.encoded_picture }}" alt="image">
            <p> Ville : {{ renting.address }}</p>
            <p> Description : {{ renting.description }}</p>
            <p> Nom : {{ renting.name }}</p>
            <p> Type : {{ renting.type_name }}</p>
            <div class="equipment"> Equipement : {{ renting.equipment_names | default('Aucun équipement') }}</div>
            <div class="service"> Service : {{ renting.service_names | default('Aucun service') }}</div>
            <form action="/delete_renting" method="post">
                <input type="hidden" name="renting_id_delete" value="{{ renting.id }}">
                <input type="submit" class="delete" class="delete" value="Supprimer">
            </form>
            <form action="/modify_location" method="post">
                <input type="hidden" name="renting_id_modify" value="{{ renting.id }}">
                <input type="submit" class="submit_button" value="Modifier">
            </form>
            </div>
        {% endfor %}
        </ul>
    </body>
{% endblock %}