{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="public/css/style.css">{% endblock %}

{% if user_connect %}
    {% set user_connected = "Profile" %}
    {% set link = "profile" %}
{% else %}
    {% set user_connected = "Se connecter" %}
    {% set link = "login" %}
{% endif %}

{% block body %}
    <body>
        <div class="filters-column">
            <h3>Filtres</h3>
            <form action="/" method="post">
                <div class="filter">
                    <label>Prix :</label>
                    <p>De 
                        <input type="number" name="min_price" min="0" value="{{ filters.min_price }}" />€ à
                        <input type="number" name="max_price" min="0" value="{{ filters.max_price }}" />€
                    </p>
                    <p class="error">{{ error }}</p>
                    <label>Type de logement :</label>
                    <select name="id_type">
                        <option value="all" {% if filters.id_type == 'all' %}selected{% endif %}>Tous</option>
                        {% for type in types %}
                            <option value="{{ type.id }}" {% if filters.id_type == type.id %}selected{% endif %}>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                    <label>Equipements :</label>
                    {% for equipment in equipments %}
                        <input type="checkbox" name="equipment[]" value="{{ equipment.id }}" {% if equipment.id in filters.equipment %}checked{% endif %} /> {{ equipment.name }}<br />
                    {% endfor %}
                    <label>Services :</label>
                    {% for service in services %}
                        <input type="checkbox" name="service[]" value="{{ service.id }}" {% if service.id in filters.service %}checked{% endif %} /> {{ service.name }}<br />
                    {% endfor %}
                    <input type="submit" class="submit_button" name="filter" value="Chercher" />
                </div>
            </form>
        </div>
        <div class="main-content">
            <ul>
                {% for renting in rentings %}
                    <div class="rentings">
                        <h2>{{ renting.address }}</h2>
                        <img src="data:image/jpeg;base64,{{ renting.encoded_picture }}" alt="image">
                        <p>{{ renting.price }}€ par nuit</p>
                        <p>{{ renting.type_name }}</p>
                        <li><a href="/renting/{{ renting.id }}">Détails</a></li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </body>
{% endblock %}