{% extends "templates/header.html.twig" %}

{% block title %}Troc Mon Toit{% endblock %}
    
{% block css %}<link rel="stylesheet" href="/public/css/style.css">{% endblock %}

{% if user_connect %}
    {% set user_connected = "Profile" %}
    {% set link = "profile" %}
{% else %}
    {% set user_connected = "Se connecter" %}
    {% set link = "login" %}
{% endif %}

{% block body %}
    <body>
        <ul>
            <div class="renting">
                <p class="error">{{error}}</p>
                <h2> {{ renting.address }}</h2>
                <img src="data:image/jpeg;base64,{{ renting.encoded_picture }}" alt="image">
                <form action="/renting/{{ renting.id }}" method="post">
                    <input type="submit" name="favorite" class="submit_button" value="{{ favorite_message }}"/>
                </form>
                <h4 class="types"> {{ renting.type_name }}</h4>
                <p> {{ renting.price }}€ par nuit</p>
                <p> Description : {{ renting.description }}</p>
                <p> Nom : {{ renting.name }}</p>
                <div class="equipment"> Equipement : {{ renting.equipment_names | default('Aucun équipement') }}</div>
                <div class="service"> Service : {{ renting.service_names | default('Aucun service') }}</div>
                <form action="/renting/{{ renting.id }}" method="post">
                    <p> Ce logement n'est pas disponible aux dates suivantes :</p>
                    {% for booked_date in booked_dates %}
                        <label>Du {{ booked_date.start_date }} au {{ booked_date.end_date }}</label>
                    {% endfor %}
                    <div class="contain_date">
                        <label for="start">Début :</label>
                        <input type="date" id="start" name="start_date" value="{{ current_date }}" min="{{ current_date }}" required/>
                        <label for="end">Fin :</label>
                        <input type="date" id="end" name="end_date" value="" required/>
                    </div>
                    <input type="submit" class="submit_button" value="Réserver" />
                </form>

            </div>
        </ul>
    </body>
{% endblock %}

